
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../img/praia.png);
}
 
h1, h3, h4 {
    font-family: 'Arial Black', sans-serif;
}
 

 
.navbar-nav .nav-link {
    color: #000;
    padding: 10px;
    transition: background-color 0.3s ease;
}
 
.navbar-nav .nav-link:hover {
    background-color: #e0b854;
    color: #000;
}
 
.navbar-toggler {
    background-color: #ffc107 !important;
}
 

main .container {
    padding-top: 80px; 
}
 
h1 {
    font-size: 2.5rem;
    color: #000;
}
 
h3 {
    color: #ff0000; 
    font-style: italic;
}
 
h4 {
    font-size: 1.5rem;
    color: #333;
}
 
.bg-light {
    background-color: #c8e0a4 !important; 
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 8px;
}

.banana{
    background-image: url(../img/bananeiras.jpg);
    height: 70vh;
    
    
        border-image: linear-gradient(to bottom, #ffc400d8 0%, #3e7e49 100%) 1;
        border-width: 5px;
        border-style: solid;
        padding: 5px;

    

}
.porpeta{
    background-color:rgb(20, 141, 255);
    width: 20rem;
    height: 30rem;
    clip-path: polygon(0% 15%, 0 0, 53% 0, 85% 0%, 100% 0, 100% 15%, 100% 75%, 100% 100%, 68% 95%, 38% 92%, 0 100%, 0% 85%);

}
