.cabecalho{
    background-color:#FFC670 ;
    height: 5rem;
    WIDTH:100%;
    
}

body{
    background-color: #0085FF;
}



.resolucao{
   top:5.05rem;
   margin-left: 13rem;
   color: white;
   background-color: transparent;
   border: none;
   box-shadow: none;
   
}

.resolucao h2{
    font-size: 3rem;
}
