
.porta{
    border: solid #FF7A00;
    background-color: #146CAB;
    width: 30rem;
    border-radius: 90rem;
    height: 7rem;
    
}
.porta a{
    font-size: 1.5rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
}

.porta img{
    width: 3rem;
}

.todo button{
    background-color: #D7AB6A;
    border-radius: 80rem;
    height: 3rem;
    font-size: 1.7rem;
    font-weight: bolder;
    border: solid #146CAB;
    margin-bottom: 3px;
}

body{
    background-image: url(../../assets/img/Predio.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
}
.gil{
    top: 7rem;
}