
.porta{
    border: solid #FF7A00;
    background-color: #146CAB;
    width: 30rem;
    border-radius: 90rem;
    height: 7rem;
    
}
.porta a{
    font-size: 1.5rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
}

.porta img{
    width: 3rem;
}

.todo button{
    background-color: #D7AB6A;
    border-radius: 80rem;
    height: 3rem;
    font-size: 1.7rem;
    font-weight: bolder;
    border: solid #146CAB;
    margin-bottom: 3px;
}

body{
    background-image: url(../../assets/img/Predio.jpg);
    height: 100vh;
    background-size: cover; 
    background-repeat: no-repeat;
    width: 100vh;
}
.gil{
    top: 15rem;
    
    width: 45rem;
    height: 25rem;
    background-color: #0099ff;
    
    clip-path: polygon(50% 0%, 97% 6%, 100% 36%, 100% 69%, 97% 88%, 50% 100%, 3% 90%, 1% 72%, 0% 35%, 3% 8%);
}
.gil h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

footer{
    top: 49rem;
    background-color:  #FFC670;
}