






.cabecalho{
    background-color:#FFC670 ;
    height: 5rem;
    WIDTH:100%;
    
}

.imgback{
    background-image: url(../img/bolhas\ azuis.jpg);

}
body {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(./assets/img/bolhas\ azuis.jpg);
    background-size:cover;
}
.card {
    width: 700px;
}
.card-header {
    background-color: #FFC670;
    color: #004080;
    font-weight: bold;
    text-align: center;
}
.btn-cadastrar {
    background-color: #004080;
    color: white;
}

body {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card {
    width: 300px;
}
.card-header {
    background-color: #ffcc00;
    color: #004080;
    font-weight: bold;
    text-align: center;
}
.btn-cadastrar {
    background-color: #004080;
    color: white;
}